@model List<User>

@{
    ViewData["Title"] = "User";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-success" asp-controller="User" asp-action="Create"> Create </a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@user.UpdatedAt?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@user.Active</td>
            </tr>
        }
    </tbody>
</table>